*{
    margin: 0;
    padding: 0;
}
body{
    /* width: 100vw; */
    height: 100vh;
    box-sizing: border-box;
}
#container{
    display: block;
    width: 1200px;
    height: auto;
    padding: 10px 20px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
#container button{
    margin: 10px 0px;
    outline: none;
    font-size: 18px;
    font-weight: 700;
}
#container button:hover{
    color: black;
    background-color: white;
    border-color: black;
}
#container #content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#container #heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#container #heading h1{
    font-size: 26px;
    margin: 10px 8px;
    display: none;
    text-shadow: 2px 1px 1px grey;
    cursor: pointer;
    transition: 0.5s ease-in;
}

#container #content img{
    width: 300px;
    height: 280px;
    padding: 10px;
}